<!-- <p>gallery works!</p> -->

<div class="banner mt-5 mb-5">
  <div class="content">
    <div class="intro mb-3 text-center">
      <h1><strong>Photos</strong></h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="row menu mt-3 mb-5 ">

    <div class="col-sm mt-3">
      <div class="white ">
        <h2>Photos by Theme</h2>
        <p>Photos are categorized by various themes. They paint a picture of days at the Cottage Garden.</p>
        <ul>
          <li><a [routerLink]="['/outdoors']" class="learnbtn">Play Outdoors</a></li>
          <li><a [routerLink]="['/indoors']" class="learnbtn">Play Indoors</a></li>
          <li><a [routerLink]="['/crafts']" class="learnbtn">Crafts</a></li>
          <li><a [routerLink]="['/wonder']" class="learnbtn">Wonder</a></li>
          <li><a [routerLink]="['/founders']" class="learnbtn">Founders</a></li>
          <li><a [routerLink]="['/seasonal']" class="learnbtn">Seasonal Tableau</a></li>
        </ul>
      </div>

      <div class="primary">
        <h2>Parents' Photo Album</h2>
        <p>Current parents receive a link for regularly updated photos of their child with their Cottage Garden buddies.</p>
      </div>

    </div>

    <div class="col-sm mt-3">
      <div>
        <h2>Photo Books</h2>
        <ul>
          <li><a href="https://static1.squarespace.com/static/6311339d4ad10577507f3166/t/6336fcf9c7c3c267c3a421d2/1664548095157/Photobook.pdf" target="_blank" class="learnbtn">2013-2014</a></li>
          <li><a href="https://static1.squarespace.com/static/6311339d4ad10577507f3166/t/6336fd34aeac7561aacb7bf8/1664548154320/2015+Photobook.pdf" target="_blank" class="learnbtn">2015-2016</a></li>
          <li><a href="https://static1.squarespace.com/static/6311339d4ad10577507f3166/t/6336fd60b010906033863545/1664548199579/2016+Photobook.pdf" target="_blank" class="learnbtn">2016-2017</a></li>
        </ul>
      </div>

      <div class="primary">
        <h2>Videos</h2>
        <ul>
          <li><a href="https://www.dropbox.com/s/8hbvmlsc8iv878i/IMG_0643.mov?dl=0" target="_blank" class="learnbtn">Video 1</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>





