.menu
{
  gap: 50px;
}

.learnbtn
{
  text-decoration: none;
  color: #000;
  font-size: 15.5px;
}
h1{
  font-size: 60px;
  color: var(--secondary-color);
}

h2{
  font-size: 35px;
  color: var(--primary-color);

 }
