<!-- <p>cottage-store works!</p> -->

<div class="banner  mt-5 mb-5">
  <div class="content text-center">
    <div class="intro mb-4">
      <h1>The Cottage Garden Store</h1>
    </div>
    <a href="https://www.cottagegardenfibers.com/" class="learnbtn " target="_blank" >VISIT OUR STORE <i class="bi bi-shop"></i></a>
  </div>
</div>

<div class="container article">
  <h3>
    Along with my love for children and Waldorf education I also love retail—it’s true! I love selling the craft items I make and the products I love, which I think will support our philosophy. <em>The Cottage Garden Store</em> is housed in our Hoosier Cabinet on the porch and is also an online entity.
  </h3>

  <h3>
    I will be making group orders from the retailers mentioned below at different times during the year. I will have order forms available soon.
    <br>
    Please be in touch if you would like more information, and feel free to invite friends!
    <br>
    You can get more information from each of their sites by clicking the link on this or the Resource page.
  </h3>

  <h3>
    I also have an Etsy Shop where I sell my felted crafts: <em><a href="https://www.etsy.com/shop/CottageGardenFibers" target="_blank" >CottageGardenFibers</a></em>… Special orders and/or workshops are always welcome.
    <br>
    A new Website, <a href="https://www.cottagegardenfibers.com/" target="_blank" >https://www.cottagegardenfibers.com/</a>   and a shop has been added to our Cottage Garden Waldorf Day Care Page, <a href="https://www.facebook.com/cottagegardenwaldorf/shop" target="_blank" >https://www.facebook.com/cottagegardenwaldorf/shop</a>
  </h3>

  <h3>
    <a href="https://danishwool.com/" target="_blank" > Danish Woolen Delights</a> Please use this code  COTGARDN2522 if you order before  5/31/23, it will give 25% off of full-price items (no further discount gets pulled from Factory Outlet nor Sale, but they can still be ordered). They will donate 10% back to The Cottage Garden
  </h3>

  <h3>
    Please Contact me if you would like to be added to my customer list for any of these products. I offer a 20%-30% discount if you order through me.
    <ul>
      <li><a href="https://shopuriel.com/" target="_blank">Uriel Pharmacy</a></li>
      <li><a href="https://www.weleda.com/" target="_blank">Weleda</a></li>
      <li><a href="https://steinerbooks.org/" target="_blank">SteinerBooks</a></li>
      <li><a href="https://www.drhauschka.com/" target="_blank">Dr. Hauschka Skin Care</a></li>
    </ul>
  </h3>
</div>

<div class="container mb-5">
  <a href="https://www.cottagegardenfibers.com/" class="learnbtn" target="_blank" >VISIT OUR STORE <i class="bi bi-shop"></i></a>
</div>
