.awards-img2
{
  width: 300px;
  // height: 300px;
  height: 500px;

  border-radius: 15px;
}

h2
{
  font-size: 40px;
  color: var(--primary-color) ;
}

p
{
  font-size: 16px;
  color: rgb(95, 93, 93);
  // line-height: 25px;
}
