<!-- <p>audley works!</p> -->

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-md-4 mt-5">
      <img class="awards-img2" src="/assets/img37.jpg" alt="logo">
    </div>
    <div class="col-md-8">
      <h2 class="mt-3">Barbara Audley</h2>
      <p>
        As the eldest of five, I have been involved with young children for most of my life. During my teenage years, I worked with a disabled child and often babysat. In my early twenties, while living in San Francisco, CA, I worked in several daycares with different populations of children. For several years after that, I worked with inner city children of various ages in afternoon and evening programs, as the founder and director of Raphael House in St. Louis, MO.
        <br>
        This began as a drop-in center and evolved into a multi-purpose aid station for children and families.Despite these efforts and accomplishments, I gradually became discouraged in my attempts to make a real and lasting difference in the lives of the children and their families. I began to wonder if a method had been developed that would serve to educate the souls of children. As a response to this question, I discovered Waldorf education and knew that I had found what I had been searching for.
        <br>
        At the age of 28, with an interest in becoming a Waldorf teacher, I attended a preliminary year of foundation studies in anthroposophy— the philosophy, developed by Rudolf Steiner, which stands behind Waldorf education. It was during this year that I discovered, in artistic activities, the building blocks of a soul-filled education. In particular, I developed a love for the art of speech, for bringing a deeper creativity into the spoken word. This was a revelation to me. I went on to complete four-year training in this method in London, England, graduating in 1985. I have worked as a voice artist, performing and teaching this method since then. This work has included working with children in Waldorf as well as public schools on voice development and dramatic presentations. Now, working with Celia in The Cottage Garden, I feel that I have, in a way, come full circle.
        <br>
        I love working with young children, watching and assisting them in their growth and development —particularly enjoying their joy in acquiring language. While I am not working with them explicitly, I hope that my love of sounds and words and poetry and stories will implicitly encourage them to develop a love for these things as well.
      </p>
    </div>
  </div>
</div>
