<!-- <p>calendar works!</p> -->

<div class="container heading mt-3 mb-3 text-center">
  <h1>Calendars</h1>
  <span class="btn mb-3">
    <a href ="https://static1.squarespace.com/static/6311339d4ad10577507f3166/t/64f8dfd14435603cae3e1c72/1694031825352/Monthly+Cal.pdf" attributes-list target="_blank">VIEW 2023-24 CALENDAR<i class="bi bi-arrow-right"></i></a>
  </span>

  <div class="google-map">
    <iframe src="https://embed.styledcalendar.com/#xHX6RjS6gQ6KlZhUpm5V" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
<script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
  </div>


</div>
<div class="container">
  <h2><strong>Snow Day Policy: </strong></h2>
  <p>
    PLEASE DO NOT ASSUME WE ARE CLOSED!!!
    <br>
    We will make every effort to be open on snow days.
    <br>
    However, depending on the severity of the weather and our ability to ensure
    <br>
    safety for you and your children, we reserve the right to close for either the whole, or part of the day.
    <br>
    We will make our decision by 6:30am and let each of you know by text, email or phone no later than 7:00am.
    <br>
    <strong>PLEASE CHECK YOUR MESSAGES!!</strong>
  </p>

</div>
