<div class="container mt-3 mb-3">
  <div class="text-center">
    <h1>Play Outdoors <a  [routerLink]="['/indoors']" ><i class="bi bi-arrow-right-circle"></i></a></h1>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="gallery">
    <img src="/assets/playoutside/1.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/2.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/3.jpg"alt="a house on a mountain">
    <img src="/assets/playoutside/4.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/5.jpg" alt="big rocks with some trees">
    <img src="/assets/playoutside/6.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/7.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/8.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/9.jpg" alt="a great view of the sea above the mountain">


    <img src="/assets/playoutside/10.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/11.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/12.jpg" alt="a house on a mountain">
    <img src="/assets/playoutside/13.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/14.jpg" alt="big rocks with some trees">
    <img src="/assets/playoutside/15.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/16.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/17.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/18.jpg" alt="a great view of the sea above the mountain">

    <img src="/assets/playoutside/19.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/20.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/21.jpg" alt="a house on a mountain">
    <img src="/assets/playoutside/22.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/23.jpg" alt="big rocks with some trees">
    <img src="/assets/playoutside/24.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/25.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/26.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/27.jpg" alt="a great view of the sea above the mountain">

    <img src="/assets/playoutside/28.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/29.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/30.jpg" alt="a house on a mountain">
    <img src="/assets/playoutside/31.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/32.jpg" alt="big rocks with some trees">
    <img src="/assets/playoutside/33.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/34.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/35.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/36.jpg" alt="a great view of the sea above the mountain">

    <img src="/assets/playoutside/37.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/38.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/39.jpg" alt="a house on a mountain">
    <img src="/assets/playoutside/40.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/41.jpg" alt="big rocks with some trees">
    <img src="/assets/playoutside/42.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/43.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/44.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/45.jpg" alt="a great view of the sea above the mountain">

    <img src="/assets/playoutside/46.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/47.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/48.jpg" alt="a house on a mountain">
    <img src="/assets/playoutside/49.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/50.jpg" alt="big rocks with some trees">
    <img src="/assets/playoutside/51.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/52.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/53.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/54.jpg" alt="a great view of the sea above the mountain">

    <img src="/assets/playoutside/55.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/56.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/57.jpg" alt="a house on a mountain">
    <img src="/assets/playoutside/58.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/59.jpg" alt="big rocks with some trees">
    <img src="/assets/playoutside/60.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/61.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/62.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/63.jpeg" alt="a great view of the sea above the mountain">

    <img src="/assets/playoutside/64.jpeg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/65.jpeg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/66.jpeg" alt="a house on a mountain">
    <img src="/assets/playoutside/67.jpeg" alt="sime pink flowers">
    <img src="/assets/playoutside/68.jpeg" alt="big rocks with some trees">
    <img src="/assets/playoutside/69.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/70.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/71.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/72.jpg" alt="a great view of the sea above the mountain">

    <img src="/assets/playoutside/73.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/74.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/75.jpg" alt="a house on a mountain">
    <img src="/assets/playoutside/76.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/77.jpg" alt="big rocks with some trees">
    <img src="/assets/playoutside/78.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/playoutside/79.jpg" alt="a cool landscape">
    <img src="/assets/playoutside/80.jpg" alt="inside a town between two big buildings">
    <img src="/assets/playoutside/81.jpg" alt="a great view of the sea above the mountain">

    <img src="/assets/playoutside/82.jpg" alt="a forest after an apocalypse">
    <img src="/assets/playoutside/83.jpg" alt="a waterfall and many rocks">
    <img src="/assets/playoutside/84.jpg" alt="a house on a mountain">
    <img src="/assets/playoutside/85.jpg" alt="sime pink flowers">
    <img src="/assets/playoutside/86.jpg" alt="big rocks with some trees">

  </div>

</div>







