<!-- <p>crafts works!</p> -->

<div class="container mt-3 mb-3">
  <div class="text-center">
    <h1><a [routerLink]="['/indoors']"><i class="bi bi-arrow-left-circle"></i></a> Crafts <a  [routerLink]="['/wonder']" ><i class="bi bi-arrow-right-circle"></i></a></h1>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="gallery">
    <img src="/assets/crafts/1.jpg" alt="a forest after an apocalypse">
    <img src="/assets/crafts/2.jpg" alt="a waterfall and many rocks">
    <img src="/assets/crafts/3.jpg"alt="a house on a mountain">
    <img src="/assets/crafts/4.jpg" alt="sime pink flowers">
    <img src="/assets/crafts/5.jpg" alt="big rocks with some trees">
    <img src="/assets/crafts/6.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/crafts/7.jpg" alt="a cool landscape">
    <img src="/assets/crafts/8.jpg" alt="inside a town between two big buildings">
    <img src="/assets/crafts/9.jpg" alt="a great view of the sea above the mountain">


    <img src="/assets/crafts/10.jpg" alt="a forest after an apocalypse">
    <img src="/assets/crafts/11.jpeg" alt="a waterfall and many rocks">
    <img src="/assets/crafts/12.jpg" alt="a house on a mountain">
    <img src="/assets/crafts/13.jpg" alt="sime pink flowers">
    <img src="/assets/crafts/14.jpg" alt="big rocks with some trees">
    <img src="/assets/crafts/15.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/crafts/16.jpg" alt="a cool landscape">
    <img src="/assets/crafts/17.jpg" alt="inside a town between two big buildings">
    <img src="/assets/crafts/18.jpg" alt="a great view of the sea above the mountain">

    
  </div>

</div>
