<!-- <p>founders works!</p> -->

<div class="container mt-3 mb-3">
  <div class="text-center">
    <h1><a [routerLink]="['/wonder']"><i class="bi bi-arrow-left-circle"></i></a> Founders <a  [routerLink]="['/seasonal']" ><i class="bi bi-arrow-right-circle"></i></a></h1>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="gallery">
    <img src="/assets/founders/1.jpg" alt="a forest after an apocalypse">
    <img src="/assets/founders/2.jpg" alt="a waterfall and many rocks">
    <img src="/assets/founders/3.jpg"alt="a house on a mountain">
    <img src="/assets/founders/4.jpg" alt="sime pink flowers">
    <img src="/assets/founders/5.jpg" alt="big rocks with some trees">
    <img src="/assets/founders/6.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/founders/7.jpg" alt="a cool landscape">
    
  </div>

</div>
