<!-- <p>program works!</p> -->

<div class="banner ">
  <div class="content">
    <div class="intro mt-5 mb-5 text-center ">
      <h1 class="mb-3">Program</h1>
      <p class="mb-5">A Day at the Cottage Garden</p>
      <a [routerLink]="['/curricullum']" class="learnbtn">our curriculum<i class="bi bi-arrow-right"></i></a>
      </div>
  </div>
</div>

<div class="container wait-list text-center mt-5 ">
  <h2>ACCEPTING APPLICATIONS FOR OUR WAIT LIST  FOR THE SCHOOL YEAR 2024-25 </h2>
  <h3>Interviews will begin in January of 2024</h3>
  <a [routerLink]="['/tuition']" class="learnbtn">our tuition and fees<i class="bi bi-arrow-right"></i></a>
</div>

<div class="container mt-5">
  <div class="row article">
    <div class="col-sm">
      <h2>Morning Rhythm</h2>
      <p><strong>Arrival • 8:00</strong>
        <br>
        Children and parents are greeted and welcomed through the porch door, which will be open at 8:00am. When you arrive, please help your child hang up his or her coat and put on indoor shoes. We will be there to help with the transition into our playroom.
      </p>

      <p><strong>Inside play-time/craft activity • until 9:00</strong>
        <br>
        Play is the most important time of our morning. This is the children’s real “work”, where they learn to be together, socialize, learn about sharing, take risks and resolve conflict. These are all worked out and explored during free play under the watchful guidance of their teachers. Occasionally we will bake a birthday cake or bread, craft, crayon or wet felt.
      </p>

      <p><strong>Tidy up time • 9:00 – 9:15</strong>
        <br>
        Every toy, cloth, soft animal or doll has a place in the room and the children soon learn that tidying up is just as pleasant a part of the day as any other. We sing all the toys back into their baskets, and sing the dollies to sleep, and then we sing ourselves to the bathroom for hand-washing.
      </p>

      <p><strong>Snack • by 9:15</strong>
        <br>
        We eat organic, vegetarian foods in our program. For morning snack, we have oat or rice porridge with applesauce. Milk is served at each meal and filtered water is always available. We will clean up all together, with the children participating as much as they are able.
      </p>

      <p><strong>Story time • 9:45 – 10:00</strong>
        <br>
        We sing and have our story each day after snack, either at the table or sitting in the playroom. The foundations for literacy are laid through singing songs together and through storytelling. Stories are told in the oral tradition, using simple handmade, felted or silk puppets. Both singing, and storytelling develop vocabulary, memory and creative imagination.
      </p>

      <p><strong>Toileting • 10 – 10:15</strong>
        <br>
        Changing diapers and potty time before we go out.
      </p>

      <p><strong>Outside Playtime • until noonish</strong>
        <br>
        Our lovely, fenced in backyard has a sandbox, cut logs for climbing and balance, two small climbing structures, a fabric tunnel that comes out occasionally and a hill slide. We  try to go outside in most weather: the children find joy in the vibrant colors and windy days of fall, the snow and ice in winter, the blustery breezes of March and the lovely colors of spring. We now have a wonderful 12x14 Gazebo to play in when the weather is not cooperating.
      </p>

      <p><strong>Toileting • </strong>
        <br>
        when we come in, we wash hands and change diapers or use the potty      </p>

      <p><strong>Lunch • 12:00 – 12:30</strong>
        <br>
        We eat organic, vegetarian foods in our program. Lunches are a variety of hearty blended vegetable soups with a different grain each day. Milk and filtered water is offered at each meal. We clean-up together, with the children participating as much as they are able.
      </p>

    </div>


    <div class="col-sm">
      <h2>Afternoon Rhythm</h2>
      <p><strong>Nap • 12:30ish – 3:00</strong>
        <br>
        Each child will have a cozy down quilt and a mat or a playpen to curl up on while the teachers sing lullabies and give comfort when needed.
      </p>
      <p><strong>Toileting & Afternoon snack • 3:00…</strong>
        <br>
        We play quietly until all the children are awake and changed, then we have snack together. Snack is fresh fruit and bread or crackers, water is served. We end the day with quiet activity around the table or weather permitting, we go outside to play.
      </p>
      
      <div  class="mt-5" style="height: 100%; width: 100%;">
        <h1 [routerLink]="['/gallery']" style="color: var(--primary-color); font-weight: bold;">Glimpes at our gallery...</h1>
        <div class="gallery mt-5">
          <img src="/assets/img18.jpg" alt="" />
          <img src="/assets/img58.jpg" alt="" />
          <img src="/assets/img21.jpg" alt="" />
          <img src="/assets/img18.jpg" alt="" />
          <img src="/assets/img58.jpg" alt="" />
          <img src="/assets/img21.jpg" alt="" />
          <img src="/assets/img25.jpg" alt="" />
        </div>


        <div class="gallery2 mt-5 ">
          <img src="/assets/img1.jpg" alt="" />
          <img src="/assets/img2.jpg" alt="" />
          <img src="/assets/img39.jpg" alt="" />
          <img src="/assets/img12.jpg" alt="" />
          <img src="/assets/img5.jpg" alt="" />
          <img src="/assets/img26.jpg" alt="" />
          <img src="/assets/img35.jpg" alt="" />
        </div>

      </div>




    </div>
  </div>
</div>

<div class="container-fluid text-center mt-5 mb-5">
  <h1>Meet our staff</h1>
  <div class="row " >
    <div class="col-sm mb-4" >
      <img class="awards-img2" src="/assets/celia.jpg" alt="logo" [routerLink]="['/celia']">
      <h2 [routerLink]="['/celia']" >Celia Riahi</h2>
      <h3 [routerLink]="['/celia']">Director.</h3>
      <a class="learnbtn" [routerLink]="['/celia']" >Learn More</a>
    </div>

    <div class="col-sm" >
      <img class="awards-img2" src="/assets/img37.jpg" alt="logo" [routerLink]="['/audley']">
      <h2 [routerLink]="['/audley']">Barbara Audley</h2>
      <h3 [routerLink]="['/audley']">Waldorf teacher at The Cottage Garden.</h3>
      <a class="learnbtn" [routerLink]="['/audley']" >Learn More</a>
    </div>
  </div>
</div>
