<!-- <p>policies works!</p> -->

<div class="banner mb-5">
  <div class="content">
    <div class="intro mt-5 text-center">   
      <h1>Parent Portal</h1>
      <p>Welcome to the Parent Portal.</p>
      <p>Here you will find all the forms that you need to fill out before your child begins.
        <br>
        If you have any questions, please feel free to give me a call.
      </p>
      <p>Thank you,</p>
      <p>Celia Riahi, Director</p>
      <h4>Privacy Notice: This page is password protected and will
        <br>
        require parents to log in each time they need to access this content
      </h4>
      <a [routerLink]="['/enrollpage']" class="learnbtn">ENROLL TODAY<i class="bi bi-arrow-right"></i></a>
    </div>
  </div>
</div>

<div class="container article">
  <h1><strong>Our Forms</strong></h1>
  <h2>Kindly go through these forms:</h2>
  <p>*Fill all the required forms</p>
  <ul>
    <li><a [routerLink]="['/classlist']"  class="btn">Class List</a></li>
    <li><a [routerLink]="['/emergency']"  class="btn">Emergency Form</a></li>
    <li><a [routerLink]="['/familyinfor']"  class="btn">Family Info Form</a></li>
    <li><a [routerLink]="['/medical']"  class="btn">Medical Form</a></li>
    <li><a [routerLink]="['/ointment']"  class="btn">Ointment Permission Form</a></li>
    <li><a [routerLink]="['/oralopt']"  class="btn">Oral Opt-Out Form</a></li>
    <li><a [routerLink]="['/photopermission']"  class="btn">Photo Permission Form</a></li>
    <li><a [routerLink]="['/tuitionform']"  class="btn">Tuition Form</a></li>
    <li><a [routerLink]="['/calendar']"  class="btn">Calendar 2023-24</a></li>
    <li><a href="https://static1.squarespace.com/static/6311339d4ad10577507f3166/t/64f8b963c14b4841b687e2ad/1694021987891/NEW+handbook.pdf" target="_blank" style="text-decoration: none; color: #000; font-size: 20px; margin-left: 11px;">Parent Handbook</a></li>

  </ul>

</div>

<div class="container article">
  <h1><strong>Cottage Garden Menus</strong></h1>
  <h3>Here are our Menus, with some seasonal tweaks, our soup is made with organic fresh vegetables (sometimes frozen but still organic), sweet potato, few white potato, butternut squash, zucchini, summer squash, kale or spinach, red lentils, peas, corn, onions, celery and carrots.
    <br>
    Snacks are always fresh fruit or veggies and bread or crackers.
    <br>
    In the very warm weather I make popsicles from real fruit juice and water for an occasional snack.
    <br>
    We also may have a picnic lunch with sandwiches; tuna, or grilled cheese, carrot sticks, guacamole or hummus and fresh fruit.
    <br>
    Breakfast cereals are whole grain and we grind the rice to make the cereal. No dairy is used, just water and a bit of maple syrup.
  </h3>
  <div class="name">
    <h2>THE COTTAGE GARDEN</h2>
    <h3>MENU</h3>
  </div>

  <div class="row menu mt-3 mb-5 ">

    <div class="col-sm mt-3">
      <div class="white">
        <h2>MONDAY</h2>
        <p><strong>Breakfast:</strong>
        <br>
        Oatmeal /Applesauce, milk</p>
        <p><strong>Lunch:</strong>
        <br>
        Cheddar cheese, brown rice, vegetable soup/milk</p>
        <p><strong>PM Snack:</strong>
          <br>
          Fresh Fruit and bread or crackers</p>
      </div>

      <div class="primary">
        <img class="menuimg" src="/assets/img20.jpg" alt="logo" >
      </div>


      <div class="white">
        <h2>WEDNESDAY</h2>
        <p><strong>Breakfast:</strong>
          <br>
          Oatmeal /Applesauce, milk</p>
          <p><strong>Lunch:</strong>
          <br>
          Cheddar cheese, brown rice, vegetable soup/milk</p>
          <p><strong>PM Snack:</strong>
            <br>
            Fresh Fruit and bread or crackers</p>
      </div>

      <div class="primary">
        <img class="menuimg" src="/assets/img36.jpg" alt="logo" >
      </div>

    </div>

    <div class="col-sm mt-3">
      <img class="menuimg" src="/assets/img57.jpg" alt="logo" >

      <div class="primary">
        <h2>TUESDAY</h2>
        <p><strong>Breakfast:</strong>
          <br>
          Oatmeal /Applesauce, milk</p>
          <p><strong>Lunch:</strong>
          <br>
          Cheddar cheese, brown rice, vegetable soup/milk</p>
          <p><strong>PM Snack:</strong>
            <br>
            Fresh Fruit and bread or crackers</p>
      </div>
      <img class="menuimg" src="/assets/img43.jpg" alt="logo" >

      <div class="primary">
        <h2>THURSDAY</h2>
        <p><strong>Breakfast:</strong>
          <br>
          Oatmeal /Applesauce, milk</p>
          <p><strong>Lunch:</strong>
          <br>
          Cheddar cheese, brown rice, vegetable soup/milk</p>
          <p><strong>PM Snack:</strong>
            <br>
            Fresh Fruit and bread or crackers</p>
      </div>
    </div>
  </div>
</div>

<div class="container article mt-5 mb-5">
  <div class="">
  <h1><strong>Calendar 2023-2024</strong></h1>
</div>
  <h2>2023-2024 School Calendar available: <a href=""><a [routerLink]="['/calendar']" >Click Here</a></a>   </h2>
  <h2><strong>Snow Day Policy: </strong></h2>
  <p>
    PLEASE DO NOT ASSUME WE ARE CLOSED!!!
    <br>
    We will make every effort to be open on snow days.
    <br>
    However, depending on the severity of the weather and our ability to ensure
    <br>
    safety for you and your children, we reserve the right to close for either the whole, or part of the day.
    <br>
    We will make our decision by 6:30am and let each of you know by text, email or phone no later than 7:00am.
    <br>
    <strong>PLEASE CHECK YOUR MESSAGES!!</strong>
  </p>
</div>


