<!-- <p>curricullum works!</p> -->

<div class="banner">
  <div class="content">
    <div class="intro mb-5">
      <br>
      <h1 class="mt-5 mb-5"><span style="">Curriculum</span></h1>
      <p>We provide home-based Waldorf Nursery Program <br>for children aged 10 months to 3 years old in <br> a fun, challenging, and stimulating environment.
      </p>    
    </div>
    <a [routerLink]="['/enrollpage']" class="learnbtn">ENROLL TODAY<i class="bi bi-arrow-right"></i></a>
  </div>
</div>

  <div class="container article mt-5 mb-4 ">
    <p><strong>The Cottage Garden seeks to nurture and protect your children’s healthy development.</strong>
      <br>
      This primarily done by providing nourishing organic meals, playthings and activities with a connection to the natural world.</p>
    <p>Our philosophy and teaching methods are inspired by both the work of Rudolf Steiner, the founder of Waldorf Education, and by Hungarian pediatrician, Dr. Emmi Pikler and her colleague, Magda Gerber. Magda Gerber played a big role in bringing Dr. Pikler’s ideas to the English-speaking world through Resources for Infant Educarers (RIE), which she established in 1978, together with Tom Forrest, M.D.</p>
  </div>

  <div class="container moreinfo mb-5">
    <p><em>For more information on Waldorf Education, Rudolf Steiner and his philosophy or Emmi Pikler and RIE, please check out our <a [routerLink]="['/usefullinks']">Links</a>  page.</em></p>
  </div>

  <hr>

    <div class="container highlight">
      <h1><strong>Program Highlights:</strong></h1>
    </div>

    <div class="container">
      <h2><i class="bi bi-1-circle"></i> Outdoors</h2>
      <div class="flex">

      </div>
      <p>Being outside in nature provides the children with fresh air, lots of sensory experiences, and a sense freedom. They can breathe in and live more slowly to the pace of Mother Earth and the seasons. We will be spending as much time outside as possible. We have a wonderful wooden Gazebo that allows us to go outside in all weather.</p>
    </div>

    <div class="container">
      <h2><i class="bi bi-2-circle"></i> The Playroom</h2>
      <p>The space created for the young child is very important, as we believe that the room, in a Waldorf program, is the curriculum. We have artistically created a space, in two rooms of our house, in which young children can unfold their individualities—their gifts and uniqueness—and begin the long process of socialization. We have created a safe, aesthetically pleasing environment where everything has a place. Although anything and everything can be moved around during playtime, there is order and calmness created for the children when the room is set up with their play in mind.</p>
    </div>

    <div class="container">
      <h2><i class="bi bi-3-circle"></i> The Nature Table</h2>
      <p>A focal point of the room is the nature table, or seasonal tableau. This is a shelf in the room where we bring something of the natural world inside—a reflection of what is happening in the life of Mother Nature. Characters, such as Prince Autumn, King Winter, Mrs. Thaw and Lady Spring are personified as felt puppets, and all come in their time with little creatures, stones, nuts, leaves and flowers to help the children learn about the natural world in a developmentally appropriate way.</p>
    </div>

<hr>


  <div class="container highlight ">
    <h1> <strong>At The Cottage Garden, the central aspects of our child nursery program are:</strong> </h1>
  </div>

  <div class="container">
    <h2><i class="bi bi-1-circle"></i> Rhythm</h2>
    <p>Life is full of natural rhythms, among them are: the seasons, day and night and breathing. We have lost a good deal of our inner connection to these rhythms because of the dominance of modern technology in our lives. We believe that we need a developed connection to natural rhythms before we can creatively move into a more conscious understanding of the technological world. We are firm in our beliefs that children should be protected from too much technological influence in their younger years. Young children are very comforted by the rhythmical activities we create for them. They know what to expect and what is expected of them in turn. The Cottage Garden day has a rhythm all its own, formed by the developmental needs of the children in attendance. There will be a daily, a weekly, and a yearly rhythm, with birthday celebrations and festivals along the way.</p>
  </div>

  <div class="container">
    <h2><i class="bi bi-2-circle"></i> Repetition</h2>
    <p>Within our daily and weekly rhythms, there is repetition. There are lullabies for sleeping, songs during playtime and songs for tidying up. Seasonally, we sing simple songs and recite poetry and nursery rhymes. As the children hear the songs and stories repeated over time they become more confident and comfortable in not only singing the songs with us or alone, but also in participating in the activities which the songs accompany. The table is set the same way each day. Napkins, a different color for the individual days of the week, will be used. The same foods will be served on each individual day of the week. The days come to be known as yellow day or barley day. The children delight in looking forward to what each day brings; the word, Wednesday, cannot in itself engender the same delighted feeling.</p>
  </div>

  <div class="container">
    <h1><i class="bi bi-3-circle"></i> Reverence</h1>
    <p>Reverence for nature, for our rooms and for each other is practiced by showing respect. We show respect for Mother Earth, for example, by raking, gardening, weeding and shoveling while playing outdoors. In our room, Mother Earth, Prince Autumn, Lady Spring—to name but a few—are personified in stories and as wool figures sitting on our nature table to welcome in each season. For the young child, any activity can be filled with reverence —in folding a cloth, in pouring water or in eating lunch with friends. We model this for them in our relations to you, their parents, through the stories we tell, and through how we treat the toys and the objects in our room.</p>
  </div>

  <div class="container">
    <h2><i class="bi bi-4-circle"></i> Creative Free Play</h2>
    <p>A focal point of the room is the nature table, or seasonal tableau. This is a shelf in the room where we bring something of the natural world inside—a reflection of what is happening in the life of Mother Nature. Characters, such as Prince Autumn, King Winter, Mrs. Thaw and Lady Spring are personified as felt puppets, and all come in their time with little creatures, stones, nuts, leaves and flowers to help the children learn about the natural world in a developmentally appropriate way.</p>
  </div>

  <div class="container mb-5">
    <h2><i class="bi bi-5-circle"></i> Care of the Senses</h2>
    <p>Childhood is a time for learning through activity, for experiencing the wonders of nature, for growing socially, for playing creatively and imaginatively, for singing, talking, quarreling and even crying, for running, and for laughing. Preschoolers are naturally active because their rapidly growing bodies require activity for healthy development. One of the premises of The Cottage Garden is that the children's play is the most important part of their morning. Play is their “work” and the way that they learn about life and its abundant wonders and struggles. They need to be left free to play in order to learn about sharing, taking risks, role modeling for each other and resolving conflict. When conflict does arise, we believe it is our role as their teachers to help to facilitate their play by providing each child with our understanding towards their personal situation and with imaginative pictures for how things might be resolved, rather than by our use of explicit guidance.</p>
  </div>



