<!-- <p>seasonal-tableau works!</p> -->

<div class="container mt-3 mb-3">
  <div class="text-center">
    <h1><a [routerLink]="['/founders']"><i class="bi bi-arrow-left-circle"></i></a> Seasonal Tableau</h1>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="gallery">
    <img src="/assets/seasonal/1.jpg" alt="a forest after an apocalypse">
    <img src="/assets/seasonal/2.jpg" alt="a waterfall and many rocks">
    <img src="/assets/seasonal/3.jpg"alt="a house on a mountain">
    <img src="/assets/seasonal/4.jpg" alt="sime pink flowers">
    <img src="/assets/seasonal/5.jpg" alt="big rocks with some trees">
    <img src="/assets/seasonal/6.jpg" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="/assets/seasonal/7.jpg" alt="a cool landscape">
    <img src="/assets/seasonal/8.jpg" alt="inside a town between two big buildings">
    <img src="/assets/seasonal/9.jpg" alt="a great view of the sea above the mountain">


    <img src="/assets/seasonal/10.jpg" alt="a forest after an apocalypse">
    <img src="/assets/seasonal/11.jpg" alt="a waterfall and many rocks">
    <img src="/assets/seasonal/12.jpg" alt="a house on a mountain">
   
  </div>

</div>
