<!-- <p>enrollment works!</p> -->

<div class="banner mb-4">
  <div class="content text-center">
    <div class="intro mt-5 mb-5">
      <h1>The Admissions Process</h1>
    </div>
    <a [routerLink]="['/enrollpage']" class="learnbtn">ENROLL TODAY<i class="bi bi-arrow-right"></i></a>
  </div>
</div>

<div class="container text-center">
  <p>WE ARE ONLY ACCEPTING INQUIRIES FOR 2024-25  </p>
  <p>INTERVIEWS WILL BEGIN IN. JANUARY 2024</p>
</div>

<div class="container article mt-4 mb-4">
  <h1><span class="highlight">Dear Prospective Parents,</span></h1>
  <h3>
    Thank you for your interest in The Cottage Garden, a Waldorf Nursery Program. We hope you enjoy perusing our website, as it will give you a further peek into our program philosophy. We want families who feel comfortable with what we are offering. We intentionally run a small program, with sensitivity towards the needs of each child. We think of it as “slow childcare” and feel we provide a unique program that deeply respects each child, allows for free, self-initiated movement and offers lots of time for creative play both indoors and outside. We serve two healthy, hot, organic meals and one snack per day.
  </h3>

  <h3>
    If after reading through all of our materials you would like your child to be considered for admission or to be officially put on our waiting list, please fill out your application and return it with your $25.00 application fee. Your application allows us a tiny glimpse into your family and what you are looking for. We hope this isn’t an obstacle for you.
  </h3>

  <h3>
    Our admissions timeline is as follows:
    <ol>
      <li>Please fill out and return the application form along with your $25.00 application fee.</li>
      <li>You will then be invited to come for a  visit with us, in person. You will be able to see our space, hear more about our program and ask your questions, and for us to spend a little time with you and your child.</li>
      <li>2024–2025: If you are or have applied for the year, 2024–25, we will not be able to let you know if we have a space for you until after March 15, 202. You then have one week to reply, either way.</li>
      <li>If you accept the space offered, please choose your tuition rate, fill out and return your Tuition form. A contract will be sent to you within one week.</li>
      <li>Your signed contract, along with your 10% non-refundable enrollment deposit plus supply fee must be returned within one week of acceptance in order to hold your place. The balance of your tuition will be divided up equally between the months of July 1, through May 1.</li>
      <li>All forms to be filled out will be on the website, under the Parent Portal.</li>
      <li>A welcome packet, with more information will be available on the website in late August.</li>
    </ol>
  </h3>
  <h3>WE ASK THAT YOU PLEASE BRING SLIPPERS AND NOTE THAT WE ARE A FRAGRANCE-FREE HOME</h3>
  <h3>We look forward to meeting with you.</h3>
  <h3>Sincerely,</h3>
  <img class="awards-img2" src="/assets/signature.png" alt="logo">
  <h3>Celia Riahi</h3>
  <h3>Director</h3>
</div>

<div class="container">
  <p>Please fill out and return <a [routerLink]="['/enrollpage']"> the application form </a>  along with your $25.00 application fee. You can pay with PayPal <a  href="https://www.paypal.com/webapps/hermes?token=2XU76548MY381311S&useraction=commit&rm=1&wpsFlowRedirectToXorouterSkipHermesStartTime=1698743869095&mfid=1698743868831_f2265498a4884" target="_blank"> here </a>, or please see bottom of application.</p>
</div>







