<!-- <p>about-us works!</p> -->

<div class="container aboutus">
  <h1 class="text-center"><span class="highlight">Who We Are</span></h1>
    <p class="description">
      <strong>The Cottage Garden</strong> is a unique home-based Waldorf Day Care program, licensed for up to ten children.
      <br/>
      We offer a safe, loving environment filled with simple handmade toys and developmentally appropriate activities, all created to enhance the young child’s innate sense of learning through imitation.
      <!-- <br/> -->
      Our day is a balance of structure and free play.
      The rhythm of our daily activities offers a warm, and well-guided first playgroup experience for your pre-school child—a wonderful transition between home and school.
      <!-- <br> -->
      The rhythm of our daily activities offers a warm, and well-guided first playgroup experience for your pre-school child—a wonderful transition between home and school.
      <br>
      We will be open on Mondays, Tuesdays, Wednesdays & Thursdays, from September—June. Tuition and Supply Fee includes 2 hot, organic, vegetarian meals and 1 snack daily plus; diapers, laundry etc. We invite you to browse our website and be in touch with us if you have any questions.
    </p>
</div>
