<!-- <p>navbar works!</p> -->

 <nav class="navbar  sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="/assets/logo.jpg" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="program" routerLinkActive="active-link">Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="philosophy" routerLinkActive="active-link">Philosophy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="enrollment" routerLinkActive="active-link">Enrollment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="policies" routerLinkActive="active-link">Parent Portal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="usefullinks" routerLinkActive="active-link">Parent Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="store" routerLinkActive="active-link">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
