<!-- <p>tuition works!</p> -->

<div class="container heading mt-5 mb-5 text-center">
  <h1 class="mb-5">Tuition and Fees</h1>
  <p><em>Thank you for your interest in The Cottage Garden!</em></p>
  <p>You can find the Cottage Garden handbook <a href="https://static1.squarespace.com/static/6311339d4ad10577507f3166/t/64f8b963c14b4841b687e2ad/1694021987891/NEW+handbook.pdf" target="_blank" >here.</a></p>
</div>

<div class="text-center"> 
  <div class="container  mt-5 mb-5">
    <h2>The Cottage Garden • 2023-24 </h2>
    <h3>A Waldorf Home Nursery Program</h3>
    <p>We are now offering a four or three Full or Half Day option</p>
    <p><em>Due to Covid, we will not accept children who will be attending another program
      on the days they are not in attendance at The Cottage Garden</em></p>
  </div>
  
  <div class="container">
    <h2>2023 – 2024 TUITION</h2>
    <h3>Effective:September 5, 2023 – June 12, 2024</h3>

  
    <div class="row">
      <div class="mt-3 mb-3">  
        <div class="row">
          <div class="col-md-6">
            <p>
            Monday, Tuesday, Wednesday & Thursday
            <br>
            8:00am – 4:00pm
            or
            8:00am – 12:30pm with lunch
          </p>
          </div>
          <div class="col-md-6">
            <p>
              Monday, Tuesday, Wednesday
              <br>
              8:00am – 4:00pm
              or
              8:00am – 12:30pm with lunch
            </p>       
        
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <h2>Organic, vegetarian, hot breakfast & lunch</h2>
      <div>        
          <p>Milk, water and occasionally tea</p>
          <p>Afternoon snack of fresh fruit and bread or crackers</p>
          <p>Diapers and laundry provided</p>
          <p>Lots of love, attention, songs, puppetry & more</p>
          <p>When age appropriate there will be baking and crafts, sewing & felting</p>              
      </div>
    
    </div>
  
    <div class="mt-5 mb-5">
      <p><strong>Tuition is on a sliding scale and the honor system is in place.</strong></p>
      <p>Four Full Days: Monday – Thursday
        <br>
        $22,500.00 – $19,700.00
      </p>
      <p>Four Half Days: Monday – Thursday
        <br>
        $16,875.00 – $14,760.00
      </p>
      <p>Three Full Days: Monday,Tuesday & Wednesday
        <br>
        $19,065.00 – $16,000.00</p>
      <p>Three Half Days: Monday,Tuesday & Wednesday
        <br>
        $14,300.00 – $12,000.00</p>
      <p>Supply Fees:
        <br>
        4 Day  -$500.00
        <br>
        3 Day  -$400.00</p>
    </div>
  </div>
</div>


